<!-- header -->
<div class="nav nav-pills nav-justified  bg-dark navbar-dark fixed-top" role="navigation">
    <div class="container ">
        <header class="blog-header py-3">
            <link rel="shortcut icon" href="../favicon.ico">

            <div class="nav-scroller py-1 mb-2">


                <nav class="nav d-flex justify-content-between">
                    <a class="nav-item" href="../main/default.html">Homepage</a> <!-- IDE complains but its ok for now? -->
                    <a class="nav-item" href="../blog/index.html">Blog</a> <!-- maybe if the source of the call changes directory like /src/blog/pg1/.html wont work..-->
                    <a class="nav-item" href="../gallery/gallery.html">Gallery</a>
                    <a class="nav-item" href="../games/games.html">Games</a>
                    <a class="nav-item" href="../models/models.html">Models</a>
                    <a class="nav-item" href="../xml/xml.html">Stats</a>
                </nav>
            </div>
        </header>
    </div><!--/.nav-collapse -->
</div>